<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<GeneralSettings version="1.0">
  <property name="ResultsForeColor" type="System.String">
    <value>0-0-0-255</value>
  </property>
  <property name="ResultsBackColor" type="System.String">
    <value>153-153-153-255</value>
  </property>
  <property name="ResultsContextForeColor" type="System.String">
    <value>192-192-192-255</value>
  </property>
  <property name="HighlightForeColor" type="System.String">
    <value>51-51-51-255</value>
  </property>
  <property name="HighlightBackColor" type="System.String">
    <value>51-153-102-255</value>
  </property>
  <property name="MaximumMRUPaths" type="System.Int32">
    <value>15</value>
  </property>
  <property name="Language" type="System.String">
    <value>en-us</value>
  </property>
  <property name="ExtensionExcludeList" type="System.String">
    <value>
    </value>
  </property>
  <property name="WindowLeft" type="System.Int32">
    <value>406</value>
  </property>
  <property name="WindowTop" type="System.Int32">
    <value>550</value>
  </property>
  <property name="WindowHeight" type="System.Int32">
    <value>790</value>
  </property>
  <property name="WindowWidth" type="System.Int32">
    <value>1474</value>
  </property>
  <property name="WindowState" type="System.Int32">
    <value>0</value>
  </property>
  <property name="WindowSearchPanelWidth" type="System.Int32">
    <value>290</value>
  </property>
  <property name="WindowFilePanelHeight" type="System.Int32">
    <value>286</value>
  </property>
  <property name="WindowFileColumnNameWidth" type="System.Int32">
    <value>277</value>
  </property>
  <property name="WindowFileColumnLocationWidth" type="System.Int32">
    <value>645</value>
  </property>
  <property name="WindowFileColumnDateWidth" type="System.Int32">
    <value>0</value>
  </property>
  <property name="WindowFileColumnCountWidth" type="System.Int32">
    <value>254</value>
  </property>
  <property name="WindowFileColumnSizeWidth" type="System.Int32">
    <value>0</value>
  </property>
  <property name="WindowFileColumnFileExtWidth" type="System.Int32">
    <value>115</value>
  </property>
  <property name="LogDisplayColumnDateWidth" type="System.Int32">
    <value>175</value>
  </property>
  <property name="LogDisplayColumnTypeWidth" type="System.Int32">
    <value>85</value>
  </property>
  <property name="LogDisplayColumnValueWidth" type="System.Int32">
    <value>600</value>
  </property>
  <property name="LogDisplayColumnDetailsWidth" type="System.Int32">
    <value>425</value>
  </property>
  <property name="LogDisplayTop" type="System.Int32">
    <value>672</value>
  </property>
  <property name="LogDisplayLeft" type="System.Int32">
    <value>845</value>
  </property>
  <property name="LogDisplayWidth" type="System.Int32">
    <value>995</value>
  </property>
  <property name="LogDisplayHeight" type="System.Int32">
    <value>388</value>
  </property>
  <property name="LogDisplaySavePosition" type="System.Boolean">
    <value>True</value>
  </property>
  <property name="ExclusionsDisplayColumnEnabledWidth" type="System.Int32">
    <value>75</value>
  </property>
  <property name="ExclusionsDisplayColumnCategoryWidth" type="System.Int32">
    <value>120</value>
  </property>
  <property name="ExclusionsDisplayColumnTypeWidth" type="System.Int32">
    <value>120</value>
  </property>
  <property name="ExclusionsDisplayColumnValueWidth" type="System.Int32">
    <value>374</value>
  </property>
  <property name="ExclusionsDisplayColumnOptionWidth" type="System.Int32">
    <value>134</value>
  </property>
  <property name="ExclusionsDisplayTop" type="System.Int32">
    <value>586</value>
  </property>
  <property name="ExclusionsDisplayLeft" type="System.Int32">
    <value>486</value>
  </property>
  <property name="ExclusionsDisplayWidth" type="System.Int32">
    <value>921</value>
  </property>
  <property name="ExclusionsDisplayHeight" type="System.Int32">
    <value>632</value>
  </property>
  <property name="ExclusionsDisplaySavePosition" type="System.Boolean">
    <value>True</value>
  </property>
  <property name="SearchStarts" type="System.String">
    <value>D:\Github\MY_PROJECT\Code\CryEngine|;;|D:\Github\MY_PROJECT\Engine\Shaders|;;|D:\Github\UnrealEngine\Engine\Source|;;|D:\Github\MY_PROJECT\Engine|;;|D:\Github\MY_PROJECT\Projects\MyTemplate\Code|;;|D:\Github\MY_PROJECT\Code\CryEngine\CryPhysics|;;|D:\Github\MY_PROJECT\Code\CryEngine\CryAction|;;|D:\Github\MY_PROJECT\Code\CryEngine\CryAnimation|;;|D:\Github\MY_PROJECT\Projects\MyTemplate\Assets\Objects|;;|D:\Github\MY_PROJECT\Projects\MyTemplate\Assets|;;|D:\Github\MY_PROJECT\Projects|;;|D:\Github\MY_PROJECT\Code|;;|D:\Github\GithubDesktop_LOCAL|;;|D:\Github\MY_PROJECT\Code\Sandbox|;;|C:\Users\perso\Desktop\HOI_DEV</value>
  </property>
  <property name="SearchFilters" type="System.String">
    <value>*.h,*.cpp,*.inl,*.hpp,*.c|;;|*cfx,*cfi|;;|*|;;|*.txt|;;|*.mod|;;|add_eq|;;|add+eq|;;|*txt|;;|AGGRESSION_|;;|*.fx|;;|*.lua|;;|*.lua,*.xml,*.sql|;;|*,txt|;;|*.nsi|;;|.*nsi</value>
  </property>
  <property name="SearchTexts" type="System.String">
    <value>DebugGBuffer|;;|DebugGBufferv|;;|ViewProjZeroMatr|;;|CV_ViewProjZeroMatr|;;|OUT.vView|;;|OUT.vView.xyz|;;|vertPassPos.WorldPos|;;|g_VS_WorldViewPos|;;|ScreenToWorldBasis|;;|distance|;;|SphereMask|;;|Mask (|;;|Mask|;;|Mask (R)|;;|opacity</value>
  </property>
  <property name="TextEditors" type="System.String">
    <value>C:\Program Files (x86)\Notepad++\notepad++.exe|@@|%1|@@|*|@@|0|@@|True|;;|D:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\devenv.exe|@@|/edit %1|@@|*.h | *.cpp | *.inl | *.hpp|@@|0|@@|False</value>
  </property>
  <property name="ResultsFont" type="System.String">
    <value>Lucida Console||9.75||Regular</value>
  </property>
  <property name="ShowExclusionErrorMessage" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="SaveSearchOptionsOnExit" type="System.Boolean">
    <value>True</value>
  </property>
  <property name="ResultsWordWrap" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="FilePanelFont" type="System.String">
    <value>Microsoft Sans Serif||9||Regular</value>
  </property>
  <property name="RemoveLeadingWhiteSpace" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="ShowEntireFile" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="DetectFileEncoding" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="FileEncodings" type="System.String">
    <value>
    </value>
  </property>
  <property name="EncodingPerformance" type="System.Int32">
    <value>2</value>
  </property>
  <property name="UseEncodingCache" type="System.Boolean">
    <value>True</value>
  </property>
  <property name="ForcedEncoding" type="System.Int32">
    <value>-1</value>
  </property>
  <property name="WindowsDPIPerCentSetting" type="System.Int32">
    <value>100</value>
  </property>
  <property name="SetDefaultFonts" type="System.Boolean">
    <value>False</value>
  </property>
  <property name="UseAstroGrepAccentColor" type="System.Boolean">
    <value>True</value>
  </property>
  <property name="LongLineCharCount" type="System.Int32">
    <value>10000</value>
  </property>
  <property name="BeforeAfterCharCount" type="System.Int32">
    <value>100</value>
  </property>
</GeneralSettings>